* {
  font-family: monospace;
}

* + * {
  margin-bottom: 2em;
}

div > *, section > * {
  margin-bottom: 0.5em;
}

h2 {
  margin: 0 0 0.5em 0;
}

section {
  border: 1px solid gray;
  padding: 1em;
}

button {
  display: block;
}
